/*
  CSS面试点
   
  对原文答案进行验证，同时添加自己对题目的理解。
  收集时间：2016-06-16     
  来自：
  https://github.com/paddingme/Front-end-Web-Development-Interview-Question/blob/master/%E5%89%8D%E7%AB%AF%E8%AF%95%E9%A2%98/1.md
*/

//********************第1题********************

/*
Q: 行内(inline)元素 设置margin-top和margin-bottom 是否起作用？
A：如果是替换元素，设置margin-top和margin-bottom是不会影响行高的，此时是不起作用的，但是左右边距是起作用的；
   如果是非替换元素，设置margin-top和margin-bottom影响了行高，会起作用，左右边距同样也是起作用的。

解释：
html 里的元素分为替换元素（replaced element）和非替换元素（non-replaced element）。
替换元素：是指用作为其他内容占位符的一个元素。最典型的就是img，它只是指向一个图像文件。以及大多数表单元素也是替换，例如input等。
非替换元素：是指内容包含在文档中的元素。例如，如果一个段落的文本内容都放在该元素本身之内，则这个段落就是一个非替换元素。
讨论margin-top和margin-bottom对行内元素是否起作用，则要对行内替换元素和行内非替换元素分别讨论。

延伸：
如果是inline-block，边距都会正常起作用。
*/

//********************第2题********************

/*
Q: 伪类选择器:checked将作用与input类型为radio或者checkbox,不会作用于option。
A: 不对，都起作用。

解释：
The :checked CSS pseudo-class selector represents any radio (<input type="radio">), 
checkbox (<input type="checkbox">) or option (<option>in a <select>) element that is checked or toggled to an on state. 
The user can change this state by clicking on the element, or selecting a different value, 
in which case the :checked pseudo-class no longer applies to this element, but will to the relevant one.

延伸：
用jQuery获取select的值和显示的文本，可以简单用以下方法，假如当前选中a2
    <select name="" id="aa">
        <option value="1">a1</option>
        <option value="2">a2</option>
        <option value="3">a3</option>
    </select>
获取值：$("#aa").val();//"2",用$("#aa :checked").val()也是可以的，前者更简洁明了
获取文本：$("#aa :checked").text();//'a2'
*/

//********************第3题********************

/*
Q: 伪类:root总是指向html元素？
A: 不是，应该是文档树中最顶层结构的元素。

解释：
CSS 中的根元素是指 :root 选择器匹配到的元素，也就是文档树中最顶层结构的元素。在不同的场景下具体的根元素不同。
在HTML中是html元素，但在其他情况下，就不是html元素了。

直接在浏览器地址栏输入以下内容，背景色会显示为green，说明root不一定总是指向html元素，而应该是指向文档的顶层元素。
data:application/xhtml+xml,<div xmlns="http://www.w3.org/1999/xhtml">
<style>:root { background: green; } html { background: red !important; }</style></div>

解释来自：http://www.zhihu.com/question/38996116/answer/79155223
*/
